
@{
    ViewData["Title"] = "Basketball Team Registration";
}

<h1>Register Team</h1>

<!--
    TeamId: auto
    Name
    Captain
    Coach
    Playmaker: PG, SG, SF, PF, C
    Scheme: Big, small, etc...
-->

<form method="post">

    <label for="team-name">Team Name:</label>
    <input id="team-name" name="team-name" type="text" />
    <span>*</span>
    <br />

    <label for="captain">Team Captain:</label>
    <input name="team-captain" type="text" />
    <span>*</span>
    <br />

    <label for="coach">Coach Name:</label>
    <input name="coach-name" type="text" />
    <span>*</span>
    <br />

    <label for="scheme">Scheme:</label>
    <input name="scheme" type="text" />
    <span>*</span>
    <br />
    
    <label for="playmaker">Main Playmaker:</label>
    <input name="playmaker" type="text" />
    <span>*</span>
    <br />

    <input type="submit" value="Register" />
</form>