
@{
    ViewData["Title"] = "Basketball Team Registration";
}

<h1>Register Team</h1>

<!--
    TeamId: auto
    Name
    Captain
    Coach
    Starting 5: PG, SG, SF, PF, C
    Style: Big, small, etc...
-->

<form>
    <label></label>
</form>